<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview PDF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Preview PDF</h2>
        <div class="row">
            <div class="col-md-6 image-preview">
                <img src="{{ url_for('static', filename='output/image/' ~ preview_image) }}" alt="Preview" style="width: 100%; max-width: 100%;" class="img-thumbnail">
            </div>
            <div class="col-md-6 text-center">
                <h4 class="mt-4">Preview PDF</h4>
                <div class="btn-group">
                    <a href="{{ url_for('download', pdf_filename=pdf_filename) }}" class="btn btn-success">Download PDF</a>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary ml-3">Kembali</a>
                </div>
            </div>
        </div>
        <div class="whitespace"></div> <!-- Tambahkan whitespace di sini -->
    </div>
</body>
</html>
